.home {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.links__link {
    padding: 0.5rem 1.5rem;
    line-height: 1.5;
    text-align: center;
    border: 2px solid var(--main);
    border-radius: 0.3rem;
}
