.input {
    position: relative;
    display: flex;
    padding-bottom: 1.5rem;
    align-items: center;
    gap: 0.8rem;
    line-height: 1.5;
}

.input__field {
    width: 100%;
    padding: 1rem 0.5rem 0.5rem;
    outline: 0;
    border-bottom: 1px solid var(--multipurpose);
    transition: border-color 0.15s ease-in-out;
}

.input__field:focus {
    border-color: var(--main);
}

.input__field::placeholder {
    color: transparent;
}

.input__field--fixed {
    width: calc((100% - 0.8rem) / 3 * 2);
}

.input__label {
    position: absolute;
    top: 1rem;
    left: 0.5rem;
    line-height: 1.5;
    display: block;
    transform: translate3d(0, 0, 0);
    pointer-events: none;
    transition: font-size 0.15s ease-in-out, transform 0.15s ease-in-out;
}

:is(.input__field:focus, .input__field:not(:placeholder-shown))
    + .input__label {
    font-size: 0.7rem;
    transform: translate3d(0, -0.8rem, 0);
}

.input__button {
    height: 3rem;
    flex: 1 1 0;
    color: var(--multipurpose);
    border: 1px solid var(--multipurpose);
}

.input__field:valid ~ .input__button {
    color: var(--multipurpose-2);
    border-color: var(--multipurpose-2);
}

.input__error {
    position: absolute;
    left: 0;
    bottom: 0.25rem;
    padding: 0 0.5rem;
    font-size: 0.8rem;
    line-height: 1rem;
    color: var(--error);
}

.input__field:placeholder-shown:not(.input__field--touched) ~ .input__error,
.input__field:valid ~ .input__error {
    display: none;
}
