.interview-review {
    padding: 24px 14px;
    line-height: 1.5;
}

.interview-review:not(:last-child) {
    border-bottom: 3px solid var(--background-elevated);
}

.interview-review__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}

.interview-review__title {
    margin-bottom: 0.4rem;
    font-size: 1rem;
    font-weight: 400;
}

.interview-review__line {
    margin: 0 8px;
    border-right: 2px solid var(--multipurpose);
}

.interview-review__comments {
    position: relative;
    padding: 4px 8px;
    background-color: var(--background-elevated);
    border-radius: 4px;
}

.interview-review__comments::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 0;
    margin: 0 0 -8px -4px;
    border: 8px solid transparent;
    border-bottom: 0;
    border-left: 0;
    border-top-color: var(--background-elevated);
}

.interview-review__infos {
    display: flex;
    margin: 10px 0;
    padding: 10px;
    gap: 10px;
    border: 2px solid var(--multipurpose);
    border-left: 0;
    border-right: 0;
    background-color: var(--background-elevated);
    font-size: 0.8rem;
}

.interview-review__info {
    flex: 1 1 0;
    text-align: center;
}

.interview-review__box {
    margin-bottom: 4px;
    padding: 4px;
    border: 2px solid var(--multipurpose);
    border-radius: 1rem;
}

.interview-review__description > h3 {
    margin-bottom: 0.4rem;
    font-weight: 400;
}

.interview-review__description > div {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 3.6rem;
    font-size: 0.8rem;
    line-height: 1.5;
    overflow: hidden;
}
